FanSites/RuneScript/RScriptLookup.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:RScriptLookup" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:RScriptLookup">
<types>
<xsd:schema targetNamespace="urn:RScriptLookup">
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
 <xsd:complexType name="skillVar">
  <xsd:all>
   <xsd:element name="rank" type="xsd:int"/>
   <xsd:element name="exp" type="xsd:int"/>
   <xsd:element name="level" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="minigameVar">
  <xsd:all>
   <xsd:element name="rank" type="xsd:int"/>
   <xsd:element name="score" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="skills">
  <xsd:all>
   <xsd:element name="overall" type="tns:skillVar"/>
   <xsd:element name="attack" type="tns:skillVar"/>
   <xsd:element name="defence" type="tns:skillVar"/>
   <xsd:element name="strength" type="tns:skillVar"/>
   <xsd:element name="hitpoints" type="tns:skillVar"/>
   <xsd:element name="ranged" type="tns:skillVar"/>
   <xsd:element name="prayer" type="tns:skillVar"/>
   <xsd:element name="magic" type="tns:skillVar"/>
   <xsd:element name="cooking" type="tns:skillVar"/>
   <xsd:element name="woodcutting" type="tns:skillVar"/>
   <xsd:element name="fletching" type="tns:skillVar"/>
   <xsd:element name="fishing" type="tns:skillVar"/>
   <xsd:element name="firemaking" type="tns:skillVar"/>
   <xsd:element name="crafting" type="tns:skillVar"/>
   <xsd:element name="smithing" type="tns:skillVar"/>
   <xsd:element name="mining" type="tns:skillVar"/>
   <xsd:element name="herblore" type="tns:skillVar"/>
   <xsd:element name="agility" type="tns:skillVar"/>
   <xsd:element name="thieving" type="tns:skillVar"/>
   <xsd:element name="slayer" type="tns:skillVar"/>
   <xsd:element name="farming" type="tns:skillVar"/>
   <xsd:element name="runecraft" type="tns:skillVar"/>
   <xsd:element name="hunter" type="tns:skillVar"/>
   <xsd:element name="construction" type="tns:skillVar"/>
   <xsd:element name="summoning" type="tns:skillVar"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="trackerTime">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:skills[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="statsRequest">
  <part name="name" type="xsd:string"/></message>
<message name="statsResponse">
  <part name="return" type="tns:skills"/></message>
<message name="trackGetTimeAllRequest">
  <part name="name" type="xsd:string"/>
  <part name="time" type="xsd:int"/></message>
<message name="trackGetTimeAllResponse">
  <part name="return" type="tns:skills"/></message>
<message name="trackGetTimeAgoAllRequest">
  <part name="name" type="xsd:string"/>
  <part name="time" type="xsd:int"/></message>
<message name="trackGetTimeAgoAllResponse">
  <part name="return" type="tns:skills"/></message>
<message name="trackUpdateUserRequest">
  <part name="name" type="xsd:string"/></message>
<message name="trackUpdateUserResponse">
  <part name="return" type="xsd:boolean"/></message>
<portType name="RScriptLookupPortType">
  <operation name="stats">
    <documentation>Retreaves the stats of a User. Name must be under 12 characters.</documentation>
    <input message="tns:statsRequest"/>
    <output message="tns:statsResponse"/>
  </operation>
  <operation name="trackGetTimeAll">
    <documentation>Gets a single tracker entry of all skills at a specific time [use a unix time stamp]. Does not include starting details.</documentation>
    <input message="tns:trackGetTimeAllRequest"/>
    <output message="tns:trackGetTimeAllResponse"/>
  </operation>
  <operation name="trackGetTimeAgoAll">
    <documentation>Gets a single tracker entry made x seconds ago. Does not include starting details.</documentation>
    <input message="tns:trackGetTimeAgoAllRequest"/>
    <output message="tns:trackGetTimeAgoAllResponse"/>
  </operation>
  <operation name="trackUpdateUser">
    <documentation>Updates a user's stats by quering the hiscores.</documentation>
    <input message="tns:trackUpdateUserRequest"/>
    <output message="tns:trackUpdateUserResponse"/>
  </operation>
</portType>
<binding name="RScriptLookupBinding" type="tns:RScriptLookupPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="stats">
    <soap:operation soapAction="urn:RScriptLookup#stats" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="trackGetTimeAll">
    <soap:operation soapAction="urn:RScriptLookup#trackGetTimeAll" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="trackGetTimeAgoAll">
    <soap:operation soapAction="urn:RScriptLookup#trackGetAgoAll" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="trackUpdateUser">
    <soap:operation soapAction="urn:RScriptLookup#trackUpdateUser" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:RScriptLookup" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="RScriptLookup">
  <port name="RScriptLookupPort" binding="tns:RScriptLookupBinding">
    <soap:address location="http://rscript.org/lookup.php?soap"/>
  </port>
</service>
</definitions>